html {
    scroll-behavior: smooth;
  }

body {
    max-width: 1280px;
    margin: auto;
    font-family: 'Inter';
    color: #FFFFFF;
    background-color: black;
}


/*Header*/
@import url(../Sandbox/Header/Header.css);

/*main*/
@import url(../Main/Main.css);

/*Movies*/
@import url(../Movies/Movies.css);

/*SavedMovies*/
@import url(../SavedMovies/SavedMovies.css);

/*Profile*/
@import url(../Profile/Profile.css);

/*Footer*/
@import url(../Sandbox/Footer/Footer.css);
