html {
    scroll-behavior: smooth;
  }

body {
    max-width: 1280px;
    margin: auto;
    font-family: 'Inter';
    color: #FFFFFF;
    background-color: black;
}

/*Header*/
@import url(../Sandbox/Header/Header.css);

/*main*/
@import url(../Main/Main.css);
@import url(../Main/Promo/Promo.css);
@import url(../Main/NavTab/NavTab.css);
@import url(../Main/AboutProject/AboutProject.css);
@import url(../Main/Techs/Techs.css);
@import url(../Main/AboutMe/AboutMe.css);
@import url(../Main/Portfolio/Portfolio.css);

/*Movies*/
@import url(../Movies/Movies.css);
@import url(../Movies/SearchForm/SearchForm.css);

/*Footer*/
@import url(../Sandbox/Footer/Footer.css);
