@import url(../../Sandbox/SandboxCss/animation.css);

.spinner{
    width: 80px;
    height: 80px;
    border: 2px solid #424242;
    border-top:3px solid #3ddc84;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}



