@import url(./AuthForm/AuthForm.css);

.authentication__background {
    height: 100vh;
    background-color: #202020;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}

.authentication__title-box {
    max-width: 369px;
}

.authentication__image {
    width: 38px;
    height: 38px;
}

.authentication__title {
    margin: 40px 0 0;

    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
