@import url(../../Sandbox/SandboxCss/animation.css);

.movies-cardList__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies-cardList__not-found-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 169px;
    text-align: center;
    color: gray;
}

.movies-cardList__elements-box {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
    grid-auto-flow: row;
    gap: 24px;
    margin-bottom: 10px;
}

.movies-cardList__more-videos-button {
    width: 320px;
    height: 36px;
    background-color: #2F2F2F;
    border: none;
    border-radius: 6px;
    padding: 0;
    margin: 50px 0 80px;
    animation: standard-animation-of .15s ease, fade-out 0.15s linear;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .15s linear;
}

.movies-cardList__more-videos-button:hover {
    opacity: .65;
}

.movies-cardList__more-videos-button:active {
    animation: standard-animation .15s ease, fade-out 0.15s linear;
    transform: scale(.92);
    background-color: #3ddc84;
}

@media screen and (max-width: 768px) {
    .movies-cardList__elements-box {
        gap: 30px;
        margin-bottom: 30px;
    }
    .movies-cardList__not-found-title {
        font-size: 32px;
    }
}

@media screen and (max-width: 400px) {
    .movies-cardList__more-videos-button {
        width: 240px;
    }

    .movies-cardList__not-found-title {font-size: 25px;}

    .movies-cardList__elements-box {
        gap: 14px;
        margin-bottom: 30px;
    }

}