
.burger-menu__wrapper {
    overflow: hidden;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
    transition: visibility .3s, opacity .3s linear;
}

.burger-menu__wrapper_hidden {
    position: absolute;
    visibility: hidden;
    transition: display .3s, opacity .3s linear;
    opacity: 0;
}

.burger-menu__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
    right: -540px;
    width: 100%;
    height: 100vh;
    background-color: #202020;
    transition: .2s linear;
}

.burger-menu__burger_visable {
    width: 67.799%;
    right: 0;
    transition: .2s linear;
}

.burger-menu__list {
    width: 340px;
    margin: 159px 0 0;
    text-align: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}


.burger-menu__list-element {
    list-style-type: none;
    margin: 0 0 28px;
    padding: min-content;
}


.burger-menu__link {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;

}

.burger-menu__link:hover {
    border-bottom: solid 2px #FFFFFF;

}

.burger-menu__link-account {
    display: flex;
    gap: 7px;
    margin-bottom: 90px;
    align-items: baseline;
    justify-content: center;
    cursor: pointer;
}

.burger-menu__profile-icon-box {
    display: flex;
    width: 26px;
    height: 26px;
    background-color: #313131;
    border-radius: 50px;
}

.burger-menu__icon {
    width: 10.38px;
    height: 10.67px;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .burger-menu__wrapper {
        position: absolute;
        visibility: hidden;
        transition: display .3s, opacity .3s linear;
        opacity: 0;
    }
    .burger-menu__burger_visable {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .burger-menu__burger_visable {
        width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    .burger-menu__link-account {
        font-size: 13px;
        line-height: 12px;
    }
}