@import url(../../Sandbox/SandboxCss/animation.css);
.authForm__form {
    width: 100%;
    margin: 40px 0 0;
}

.authForm__fieldset {
    width: 100%;
    border: none;
    padding: 0;
}

.authForm__label {  
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.authForm__input {
    width: 100%;
    background-color: #202020;
    border-right: none;
    border-bottom: solid 1px #424242;
    padding: 0 0 10px;
    margin: 0 0 24px;
    outline: none;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.authForm__input:last-of-type {
    margin: 0;
}

.authForm__input_password {
    color: #EE3465;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    Letter-spacing: 3px ;
}

.authForm__span-password-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}


.authForm__button-box {
    text-align: center;
}

.authForm__button {
    width: 100%;
    margin: 134px 0 0; 
    height: 45px;
    background-color: #4285F4;
    border-radius: 3px;
    border: none;

    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    animation: standard-animation-of .15s ease, fade-out 0.15s linear;
    transition: .15s linear;
}

.authForm__button_login {
    margin: 221px 0 0; 
}

.authForm__button:active {
    animation: standard-animation .15s ease, fade-out 0.15s linear;
    background-color: #3ddc84;
    transform: scale(.95);
}

.authForm__button:hover {
    opacity: .75;
    transition: .15s linear;
}

.authForm__subtitle-link {
    margin: 16px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;

}

.authForm__link {
    margin: 16px 0 70px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;

    transition: .15s linear;
}

.authForm__link:hover {
    opacity: .75;
    transition: .15s linear;
}