@import url(../SavedMovies/MoviesCardList/MoviesCardList.css);

.saved-movies__page {
    padding: 0 70px 247px;
    background-color: #202020;
}

@media screen and (max-width: 768px) {
    .saved-movies__page {
        padding: 0 30px 0;
    }
}