.techs__background {
    max-width: 1280px;
    padding: 100px 70px;
    background-color: #272727;

    font-family: 'Inter';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
}

.techs__title {
    margin: 100px 0 0;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
}

.techs__subtitle {
    max-width: 40%;
    margin: 26px auto 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
}

.techs__technologies-list {
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, minmax(7.85%, 90px));
    justify-content: center;
    gap: 10px;
    margin: 100px 0 0;
    padding: 0;
}

.techs__technologie {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 90px; */
    height: 60px;
    background-color: #303030;
    border-radius: 10px;

    font-size: 14px;
    line-height: 17px;

    text-align: center;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
    .techs__background {
        padding: 90px 60px;
    }

    .techs__title {
        margin: 80px 0 0;
    }

    .techs__subtitle {
        margin-top: 22px;
        font-size: 12px;
        line-height: 18px;
    }

    .techs__technologies-list {
        margin: 83px 0 0;
    }

    .techs__technologie {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 650px) {
    .techs__technologies-list {
        grid-template-columns: repeat(auto-fill, minmax(7.85%, 84px));
    }

}

@media screen and (max-width: 400px) {
    .techs__background {
        padding: 70px 18px;
    }

    .techs__title {
        margin: 60px 0 0;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__subtitle {
        max-width: 100%;
        margin: 24px auto 0;
        font-size: 11px;
        line-height: 16px;
    }

    .techs__technologies-list {
        margin: 50px 0 0;
    }
}