.movies-cardList__section_saved-movies {
    padding-bottom: 237px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .movies-cardList__section_saved-movies {
        padding-bottom: 140px;
    }
}