/* 
@import url(../AuthForm/AuthForm.css);

.register__background {
    height: 100vh;
    background-color: #202020;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}

.register__title-box {
    width: 30.94%
}

.register__image {
    width: 38px;
    height: 38px;
}

.register__title {
    margin: 40px 0 0;

    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
} */
